.archive-g {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 32em) {
    .archive-g {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 48em) {
    .archive-g {
        grid-template-columns: repeat(4, 1fr);
    }
}

.archive-u p,
.archive-blog p {
    margin: 5px 0 0;
    line-height: 1.2;
}

.archive-u img,
.wp-block-getwid-section img {
    max-width: 100%;
    height: auto;
}

// Hellems
.archive-blog {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    p {
        font-weight: 300;
    }
    h2 {
        margin-bottom: 0;
    }
    img {
        float: left;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .archive-blog img {
        float: none;
    }
}

.teaching-u {
    img {
        max-height: 130px;
    }
}

.archive-inner-u {
    padding: 0 1em 2em 0;
    position: relative;
}

.archive-h2 {
    @extend h4;
    font-size: 90%;
    font-weight: 700; 
    a {
        color: inherit;
        border: 0;
    }
}

.archive-date {
    color: #555;
    font-size: 13px;
    line-height: 1;
    a {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.archive-badge a {
    display: block;
    position: absolute;
    top: 10px;
    right: 35px;
    padding: 5px 7px;
    @extend .archive-date;
    background: $accent_color;
    color: #222;
    line-height: 14px;
    font-size: 12px;
    border: 0;
}

.archive-badge-upcoming a {
    /* Awakening Graphic Standards Sec. 4, Gray */
    background: #58585B;
    color: lighten(#58585B, 70);
}

.archive-badge-live a {
    /* Awakening Graphic Standards Sec. 4, Red */
    background: #EF4E33;
    color: lighten(#EF4E33, 70);
}