.article-header {
     margin: 0;
     color: #333;
     padding: .25em 0 0;
 }
    .article-header h1 {
        margin: 0.2em 0;
        /* Not supported by the font stack. */
        /* font-weight: 300; */
    }
     .article-header .byline {
        /* Not supported by the font stack. */
        /* font-weight: 300; */
        color: #555;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

.alignwide,
.alignfull {
    margin: 32px calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}

@media (min-width: 1280px) {
	.alignwide {
		margin: 32px calc( ( 976px - 1280px ) / 2 );
		max-width: 1280px;
		width: 1280px;
	}
}