.footer {
    margin-top: 40px;
    background: #222;
    padding: 0;
    font-size: 0.8em;
    .wrap {
        padding: 1em;
    }
    h2 {
        font-weight: 400;
        letter-spacing: 1px;
        padding-bottom: 10px;
        border-bottom: 1px solid #555;
    }
    h2, p, li, address {
        color: #ddd;
    }
    a {
        color: #fff;
    }
    a:hover {
        text-decoration: underline;
    }
    address {
        font-style: normal;
    }

    .copyright {
        font-size: 80%;
        color: #999;
        border-top: 1px solid #555;
        padding-top: 20px;
        a {
            color: #bbb;
            border: 0;
        }
    }
}

// Hellems
.footerwhite {
    background: #f0f0f0;
    text-align: center;
    padding: 50px 0;
}

.footer ul {
    padding: 0;
}

.footer li {
    list-style: none;
}

.inner-conclusion {
    font-size: .84em;
    p, li, address {
        line-height: 1.6;
    }
    padding: 0 1em 0 0;
    word-wrap: break-word;
}

@media (max-width: 767px) {
    .inner-conclusion {
        padding: 0;
    }
}

@media print {
    #conclusion {
        display: none;
    }
}
