.footer {
    margin-top: 1.5rem;
    background: #222;
    font-size: clamp(0.5rem, 0.75rem + 1vw, 1rem);
    word-wrap: break-word;

    h2 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        padding-bottom: 10px;
        border-bottom: 1px solid #555;
    }

    h2,
    p,
    li,
    address {
        color: #ddd;
    }

    a {
        color: #fff;
        &:hover {
            @include underline-link;
        }
    }

    p > a {
        text-decoration: none;
    }

    address {
        font-style: normal;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        padding: 0.45em 0;
    }

    .wp-block-getwid-social-links__item {
        @media screen and (max-width: 32em) {
            padding: 0 0.2em 0.5em;
        }
        &:first-child {
            padding-left: 0.6em;
        }
    }

    .copyright {
        color: #999;
        border-top: 1px solid #555;
        padding-top: 0.75rem;
        a {
            color: #bbb;
            border: 0;
        }
    }
}
