.wp-block-site-logo img {
    // Prevent site logo from shrinking on smaller widths.
    max-width: none;
}

.hide-text {
    // Kellum method: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.button {
    @extend .pure-button;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background: #1a1a1a;
    border: 0;
}

.button-arrow::after {
    content: ' \25b8';
}

ul.page-numbers {
    @extend .pure-paginator;
}

a.page-numbers,
span.page-numbers {
    @extend .button;
    border: 0;
    color: #fff;
    font-weight: normal;
    background: #1a1a1a;
    transition: all 0.5s;
    &.next, &.prev {
        /* override _pure.scss */
        color: #fff;
        text-shadow: none;
    }
}

span.page-numbers.current {
    background: lighten($accent_color, 5);
}

.wrap {
    padding: 0 2em;
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
    &.pure-menu {
        /* no extra padding for the menu */
        padding: 0;
    }
}

/*
The content `<div>` is where all your content goes.
*/
.content,
#content {
    margin: 0;
}

/*
Live video announcement.
*/
.announce {
    @extend .content;
    @include root-padding;

    b {
        @extend .caps;
    }

    i { // .announce-when
        font-style: normal;
    }

    a {
        border: 0;
        display: block;
        padding: 1em 0;
        color: #000;
    }
}

.announce-sunday {
    em { // Live teaching title
        font-style: normal;
        font-weight: bold;
    }

    a {
        display: flex;
        align-items: center;
    }

    span {
        display: inline-block;
        margin-left: .5em;

        &.button { // Watch Now button
            margin-left: auto;
            @extend .pulse;
            @extend .animated;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
        }
    }

    b { // Live Icon
        display: inline-block;
        border-radius: 3px;
        padding: .2em .5em;
    }
}

.announce-u {
    @extend .wrap;
    padding: 0;
    margin: 0 auto;
}

.announce-sunday-live {
    /* Awakening Graphic Standards Sec. 4, Red */
    background: #EF4E33;

    a {
        color: lighten(#EF4E33, 70);
    }

    b { // Live Icon
        background: lighten(#EF4E33, 70);
        color: #EF4E33;
    }
}


.announce-sunday-notes {
    background: #457b9d;
    a {
        color: lighten(#457b9d, 70);
    }
    b { // Live Icon
        background: lighten(#457b9d, 70);
        color: #457b9d;
    }
}

.announce-upcoming {
    /* Awakening Graphic Standards Sec. 4, Gray */
    background: darken(#58585B, 10);
    a {
        color: lighten(#58585B, 70);
    }
}

@media (max-width: 767px) {
    /* disable wrap padding */
    .wrap {
        padding: 0;
    }

    /* but keep it for the content */
    .content,
    #content {
        @include root-padding;
        margin-bottom: 0;
    }

    // Hide Watch Now button on small screens
    .announce-sunday span.button {
        display: none;
    }
}

@media print {
    #inner-header {
        display: none;
        border: 0;
    }
}
