/*
Add transition to containers so they can push in and out.
*/
.wp-block-navigation {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    &.is-layout-flex {
        // override
        gap: 14px;
    }
    
    li > a {
        font-weight: 400;
        border-bottom: 0;
        justify-content: flex-end;

        & span {
            text-align: right;
        }
    }

    .wp-block-navigation__submenu-container {
        .wp-block-navigation-item {
            // override padding from above
            padding: 0;
        }

        a { 
            &:hover {
                background: #f0f0f0; // Hellems, previously: lighten($accent_color, 40);
            }
        }
    }
}

.has-modal-open {
    font-size: 1.2rem;

    .wp-block-navigation__submenu-container {
        padding-top: 0 !important;

        a {
            font-size: .9rem;
            &:hover {
                // override background from above
                background: inherit;
            }
        }
    }

    .wp-block-navigation__container > .wp-block-navigation-item {
        padding-top: 1em;
    }
}

.wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle {
    padding-left: 0;
}

// https://jeffclayton.wordpress.com/2015/04/28/css-hacks-for-safari-6-1-7-and-8-not-chrome/
_::-webkit-full-page-media, _:future, :root .wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle {
    // align menus with toggles with other menu items without them
    padding-bottom: 2px;

    // Mobile Safari only
    @supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) {
        & {
            padding-bottom: 0;
        }
    }
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child {
    & .submenu-container, & .wp-block-navigation__submenu-container {
        // override
        padding-left: .5em;
        padding-right: .5em;
    }

    .wp-block-navigation-item {
        // overrides
        padding: .25em 0 0;
    }
}