.series-g {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 48em) {
    .series-g {
        grid-template-columns: 1fr;
    }
}

.series-u {
    p {
        margin: 1em 0 0;
    }
}

.series-inner-u {
    padding: 0 1em 2em 0;
}

.series-h2 {
    @extend h3;
    a {
        color: inherit;
    }
}

.series-meta {
    color: #555;
    font-size: 12px;
    line-height: 1;
}
