$font_family_body: Montserrat, FreeSans, Arimo, "Droid Sans", Helvetica, Arial,
    sans-serif;
$font_family_accent: Oswald, FreeSans, Arimo, "Droid Sans", Helvetica, Arial,
    sans-serif;

body {
    font-family: $font_family_body;
}

header,
.announce,
#content {
    // https://web.dev/learn/design/typography/
    font-size: clamp(0.8rem, 0.75rem + 1vw, 1.2rem);
}

// Fix % font-size in _pure.scss (normalize).
small {
    font-size: 0.8rem;
}
sub,
sup {
    font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
.caps {
    font-family: $font_family_body;
    text-rendering: optimizeLegibility;
}

.wp-block-navigation,
.footer h2 {
    font-family: $font_family_accent;
    text-rendering: optimizeLegibility;
}

.entry-content a,
.leaders-inner-u a {
    font-weight: bold;
}

p,
li,
address {
    line-height: 1.3;
}

// Hellems
.whitetext,
.whitetext p {
    color: #fff;
}

// Hellems
.letterspacing {
    letter-spacing: 2px;
}

table,
address,
p {
    margin: 1em 0;
}

address {
    font-style: normal;
}
