body,
.font,
.archive-g,
.series-g,
.leaders-g,
.teaching-inner-u,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-size: 120%;
    font-family: Montserrat, FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, .caps {
    font-family: Montserrat, FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.wp-block-navigation, .footer h2 {
    font-family: Oswald, FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.entry-content a,
.leaders-inner-u a {
    font-weight: bold;
}

p, li, address {
    line-height: 1.3;
}

// Hellems
.whitetext, .whitetext p {
    color: #fff;
}

// Hellems
.letterspacing {
    letter-spacing: 2px;
}

table, address, p {
    margin: 1em 0;
}

address {
    font-style: normal;
}