@import "pure";
@import "grid";
@import "typography";
@import "animation";
@import "header";
@import "menu";
@import "entry";
@import "footer";
@import "home";
@import "archive";
@import "video";
@import "series";
@import "teaching";
@import "leaders";

// Hellems
h1.single-title {padding-top: 40px;}
// End Hellems

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
