@import "pure";
@import "grid";
@import "typography";
@import "header";
@import "menu";
@import "entry";
@import "footer";
@import "home";
@import "archive";
@import "video";
@import "series";
@import "teaching";
@import "leaders";

// Hellems
h1.single-title {padding-top: 40px;}
body .aps-each-icon a:hover img {opacity: 0.3 !important; cursor:hand;}
.vc_btn3.vc_btn3-color-black, .vc_btn3.vc_btn3-color-black.vc_btn3-style-flat, .vc_btn3.vc_btn3-color-white, .vc_btn3.vc_btn3-color-white.vc_btn3-style-flat { letter-spacing: 2px; text-transform: uppercase;}
.vc_btn3.vc_btn3-size-md {font-size: 16px;}
#sidebar1 {border-top: 1px solid #ccc; padding: 10px 0px 40px; margin-top: 40px;}
.archive #sidebar1 {border-top: none; margin-top: 0px; padding-top: 0px;}
// End Hellems

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
