# DB Backups
db-backup-*.sql.gz

# Application
web/app/plugins/*
!web/app/plugins/awakening-cleanup.php
!web/app/plugins/awakening-teaching-meta.php
!web/app/plugins/matomo.wpload_dir.php
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Query Monitor plugin
web/app/db.php

# Matomo
web/app/cache

# WordPress
web/wp
web/.htaccess
web/app/themes/jenner/node_modules

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
