# {{ ansible_managed }}

server {
    listen 80;
    listen [::]:80;
    server_name media.awakeningchurch.com;

    include includes.d/awakeningchurch.com/podcast.conf;

    location / {
        return 404;
    }
}